* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/fondoLogin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


img {
    width: 300px;
    height: 300px;
    padding-bottom: 30px;
    position: absolute;
    top: -20px;
    left: calc(69% - 31%);
    /* left: 39%; */
    z-index: 1;
}

.contenedor {
    width: 420px;
    height: 520px;
    padding-top: 5px;
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 70px 30px;
}




.contenedor h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.contenedor label {
    font-weight: bold;
    display: block;
}

.contenedor input {
    width: 100%;
    margin-bottom: 20px;
    /* color: white; */
}

.contenedor input[type="text"], .contenedor input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    height: 40px;
    /* color: white; */
}

.contenedor input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 1.1em;
    background-color: red;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    /* color: white; */
}


.contenedor input[type="button"]:hover {
    cursor: pointer;
    background-color: rgba(214, 104, 40, 0.76);
    /* color: white; */
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    
}

.contenedor a {
    text-decoration: none;
    display: block;
    color: darkgray;
    font-size: 0.8em;
    line-height: 20px;
}

.contenedor a:hover {
    cursor: pointer;
    color: rgba(146, 11, 224, 0.925);
}

.contenedor #mensaje {
    border: none;
    
}


.contenedor .blanco {
    color: white;
}

.contenedor .rojo {
    color: red;
}

.contenedor .verde {
    color: green;
    font-size: 0.9em !important;
}